# Join Statements

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
import sqlite3
import pandas as pd
con = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = con.cursor()

## Display the names of all the employees in Boston.

In [2]:
cur.execute("""SELECT firstName, lastName, city FROM employees
                           join offices
                           using(officeCode);""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
boston_df = df.loc[df["city"] == "Boston"]
boston_df

  firstName   lastName    city
8     Julie   Firrelli  Boston
9     Steve  Patterson  Boston

## Do any offices have no employees?

In [3]:
cur.execute("""SELECT firstName, lastName, city FROM employees
                           join offices
                           using(officeCode);""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print(list(df['city'].unique()))
print(cur.execute("""SELECT city FROM offices;""").fetchall())
print("All cities have an employee listed")

['San Francisco', 'Sydney', 'Paris', 'Boston', 'NYC', 'London', 'Tokyo']
[('San Francisco',), ('Boston',), ('NYC',), ('Paris',), ('Tokyo',), ('Sydney',), ('London',)]
All cities have an employee listed

## Write 3 Questions of your own and answer them

In [4]:
print("1. What are the top 10 cities that orders have been shipped to the most?")
print("2. What is the total dollar amount of orders from customers who live in NYC?")
print("3. What are the product names of products that have been ordered more than 80 times?")

1. What are the top 10 cities that orders have been shipped to the most?
2. What is the total dollar amount of orders from customers who live in NYC?
3. What are the product names of products that have been ordered more than 80 times?

In [5]:
cur.execute("""SELECT status, city FROM orders
                           join customers
                           using(customerNumber);""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
shipped_df = df.loc[(df['status'] == "Shipped") & (df['city'] != "")]
shipped_df['city'].value_counts().head(10)

Madrid           27
San Rafael       16
NYC              15
Paris             9
Singapore         9
Auckland          8
Brickhaven        8
San Francisco     7
Nantes            6
New Bedford       6
Name: city, dtype: int64

In [110]:
cur.execute("""SELECT amount, city FROM payments
                           join customers
                           using(customerNumber);""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
nyc_df = df.loc[df['city'] == "NYC"]
nyc_df['amount'] = nyc_df['amount'].astype(float)
nyc_df['amount'].sum()

C:\Users\rrubel\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

456496.29

In [7]:
cur.execute("""SELECT productName, quantityOrdered FROM orderdetails
                           join products
                           using(productCode);""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
popular_df = df.loc[df['quantityOrdered'].astype(int) > 80]
popular_df['productName']

2811    America West Airlines B757-200
2830              1969 Dodge Super Bee
2835                1969 Dodge Charger
Name: productName, dtype: object

## Level Up: Display the names of each product each employee has sold.

In [ ]:
# Your code here

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!